body {
    font-family: calibri;
    background-color: wheat;
}

nav {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: lightblue;
}

nav>* {
    margin-right: 10px;
}

.nav-buttons {
    display: flex;
    float: right;
    align-items: right;
    flex-direction: right;
}

.nav-buttons>li>a{
    color: lightblue;
    text-decoration: none;
}

.nav-buttons>li, .nav-buttons>li>a {
    list-style: none;
    margin: 5px;
    padding: 4px;
    background-color: #555;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: transform 0.3s ease;
}

.nav-buttons>li:hover, .nav-buttons>li>a:hover {
    transform: scale(1.2);
    color: chartreuse;
    background-color: #777;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.nav-btn-parent {
    justify-content: right;
    margin-right: 0%;
    display: flex;
}

.content {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.content>div {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}

.content>div>* {
    margin: 2%;
}

.personal-dp {
    width: auto;
    height: 200px;
    background-color: red;
    border-radius: 50%;
}

footer {
    position: fixed;
    padding: 10px 15px;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #999;
}

footer>div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

/* modals */

.education, .experience{
    width: 50%;
    background-color: #ccc;
}